<div class="container">
<h4>Welcome to an exciting match</h4>
<div class="div1">
<h4>{{team1}}</h4>
<button class="btn btn-warning " (click)="goalTeam1()">Goal Scored</button>
</div>
<div class="div3">
  <h4>{{team2}}</h4>
  <button class="btn btn-warning " (click)="goalTeam2()">Goal Scored</button>
  </div>
<div class="div2">
<h4>{{scoreTeam1}} - {{scoreTeam2}}</h4>
  <button class="btn btn-warning my-5 " (click)="matchOver()">Match Over</button>
  </div>

</div>
