<!--<div class="container">
<h6>
  Student Name : {{student}}
</h6>
</div>-->



<!--<h5>
  Bye {{name}}
</h5>
<h6 *ngIf="nextClass">Next Class : {{nextClass}}</h6>
<h6 *ngIf="homework">HomeWork : {{homework}}</h6>
<h6 *ngIf="msg">Message : {{msg}}</h6>

<button (click)="newMsg()">New Message</button>
<br/>
<a routerLink="/bye/{{name}}" [queryParams]="{msg:'Surprise Quiz$$$'}"
 queryParamsHandling = ""  >New Message</a>
<br/>
<a routerLink="/home">Home</a>-->


<!--NG-C2#7 task 2 code-->
<!--<h5>
  Details for {{name}}
</h5>
<h6 *ngIf="extraClass === 'yes'">There is an extra class</h6>
<h6 *ngIf="time">Time : {{time}}</h6>
<h6 *ngIf="faculty">Faculty : {{faculty}}</h6>
<h6 *ngIf="message">Message : {{message}}</h6>
<button class="btn btn-primary" (click)="setMsg()">Set Message to Guest Lecture</button>-->


<!--<div class="container">
  <div class="row bg-success border">
<div class="col-4">Name</div>
<div class="col-4">Email</div>
<div class="col-4">Course</div>
  </div>
  <div class="row  border" *ngFor="let item of studentsList" >
    <div class="col-4">{{item.name}}</div>
    <div class="col-4">{{item.email}}</div>
    <div class="col-4">{{item.course}}</div>
      </div>

</div>-->



<div class="row bg-primary text-white text-center" >
  <div class="col-4 border">Name</div>
  <div class="col-4 border">Country</div>
  <div class="col-4 border">Sport</div>
    </div>
    <div class="row border text-center" *ngFor="let item of newData;index as i" >
      <div class="col-4 border">{{item.name}}</div>
      <div class="col-4 border">{{item.country}}</div>
      <div class="col-4 border">{{item.sport}}</div>
    </div>
