<div *ngIf="condition">
<h4 class="text-center">{{selTeam1}}</h4>
<div class="row">
<div class="own-cls bg-warning text-center"  *ngFor="let item1 of allteams;index as i"
(click)="selectedTeam1(i)" >
{{item1}}
</div>
</div>
<h4 class="text-center">{{selTeam2}}</h4>
<div class="row">
  <div class="own-cls bg-warning text-center"  *ngFor="let item2 of allteams; index as j"
  (click)="selectedTeam2(j)">
  {{item2}}
  </div>
  </div>
  <div class="container">
  <button class="btn bg-dark text-white my-3 text-center" (click)="startMatch()">Start Match</button>
</div>
</div>
<div *ngIf="Property4" >
<app-match [team1]=team1 [team2]=team2 (gameOver)="changed($event)" 
(newArray)="changedArray($event)"></app-match>
</div>
