<div class="container">
  <h4 class="text-center">Results of the matches so far</h4>
  <div class="row bg-dark text-white text-center">
<div class="col-2">Team1</div>
<div class="col-2">Team2</div>
<div class="col-3">Score</div>
<div class="col-3">Result</div>
  </div>
<div class="row text-center border bg-light" *ngFor="let item of matches" >
  <div class="col-2">{{item.teamOne}}</div>
  <div class="col-2">{{item.teamTwo}}</div>
  <div class="col-3">{{item.scoreT1}}-{{item.scoreT2}}</div>
  <div class="col-3">{{item.result}}</div>
</div>
</div>
