<!--Players
<div *ngFor="let item of playersCB" >
<input
type="checkbox"
id="{{ item.name }}"
value="item.selected"
[(ngModel)]="item.selected"
(change)="emitChange()"
/>{{ item.name }}
</div>


Sports
<div *ngFor="let item of sportsRadio.sports">
<input
type="radio"
id="{{ item }}"
name="radio001"
value="{{ item }}"
checked="item === sportsRadio.selected"
[(ngModel)]="sportsRadio.selected"
(change)="emitChange()"
/>{{ item }}
</div>-->

<!--Course Done
<div *ngFor="let item of coursesCB" >
<input
type="checkbox"
id="{{ item.name }}"
value="item.selected"
[(ngModel)]="item.selected"
(change)="emitChange()"
/>{{ item.name }}
</div>


Current Status
<div *ngFor="let item of statusRadio.sports">
<input
type="radio"
id="{{ item }}"
name="radio001"
value="{{ item }}"
checked="item === statusRadio.selected"
[(ngModel)]="statusRadio.selected"
(change)="emitChange()"
/>{{ item }}
</div>-->



Choose RAM
<div *ngFor="let item of ramsCB" >
<input
type="checkbox"
id="{{ item.name }}"
value="item.selected"
[(ngModel)]="item.selected"
(change)="emitChange()"
/>{{ item.name }}
</div>

Choose ROM
<div *ngFor="let item of romsCB" >
<input
type="checkbox"
id="{{ item.name }}"
value="item.selected"
[(ngModel)]="item.selected"
(change)="emitChange()"
/>{{ item.name }}
</div>


Desired Price
<div *ngFor="let item of priceRadio.sports">
<input
type="radio"
id="{{ item }}"
name="radio001"
value="{{ item }}"
checked="item === priceRadio.selected"
[(ngModel)]="priceRadio.selected"
(change)="emitChange()"
/>{{ item }}
</div>
