<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <span class="navbar-brand">Shopping Cart</span>
  <ul class="navbar-nav mr-auto">
  <li class="nav-item">
  <a class="nav-link text-white" href="#">Cart {{noOfMobilesInCart}}</a>
  </li>
      </ul>
  </nav>
