<!--<h4>Login</h4>
Username<br>
<input type="text" class="form-control" [(ngModel)]='uname'><br>
Password<br>
<input type="password" class="form-control" [(ngModel)]='pwd'><br>
<button class="btn btn-primary" (click)="loginUser()">Login</button>-->

<!--<div class="text-center">
  Angular Class
  <button class="btn-success mx-5 m-1" (click)="start()">Start</button>
</div>-->



<!--<div>
  Welcome to the Mobile Section<br>
  You have visited {{visitedPages}} pages on this site
  <div *ngFor="let item of newArray" >
    {{ item }}
    </div>
  </div>-->



<h4 class="text-center">Mobiles</h4>
  <div class="row bg-dark text-white text-center" >
<div class="col-3">Brand</div>
<div class="col-3">Model</div>
<div class="col-3">Price</div>
  </div>
  <div class="row border text-center" *ngFor="let item of mobileArray;index as i" >
    <div class="col-3 ">{{item.name}}</div>
    <div class="col-3">{{item.model}}</div>
    <div class="col-3">{{item.price}}</div>
    <div class="col-3"><button class="btn-primary" (click)="add(i)">Add
    </button></div>
  </div>
