<div class="row">
<div class="col-2 p-3">
  <h6>Options</h6>
  <h6>BestSeller</h6>
  <div *ngFor="let item of bestSellerOptions.options" >
    <div *ngIf="item.totalNum" >
    <input
    type="checkbox"
    id="{{ item.name }}"
    value="item.selected"
    [(ngModel)]="item.isSelected"
    />{{ item.refineValue }}({{item.totalNum}})
  </div>
    </div>
    <h6>Language</h6>
  <div *ngFor="let item of languageOptions.options" >
    <div *ngIf="item.totalNum" >
    <input
    type="checkbox"
    id="{{ item.name }}"
    value="item.selected"
    [(ngModel)]="item.isSelected"
    />{{ item.refineValue }}({{item.totalNum}})
    </div>
    </div>
    <button class="my-4" (click)='refine()'>Refine</button>
</div>
<div class="col-10">
  <h6>{{fromPage}} to {{toPage}} from {{totalItemCount}} </h6>
<div class="row text-center">
<div class="col-3 bg-primary border">Title</div>
<div class="col-3 bg-primary border">Author</div>
<div class="col-2 bg-primary border">Language</div>
<div class="col-2 bg-primary border">Genre</div>
<div class="col-1 bg-primary border">Price</div>
<div class="col-1 bg-primary border">BestSeller</div>
</div>
<div class="row text-center" *ngFor="let item of data" >
  <div class="col-3 border own-class">{{item.name}}</div>
  <div class="col-3 border own-class">{{item.author}}</div>
  <div class="col-2 border">{{item.language}}</div>
  <div class="col-2 border">{{item.genre}}</div>
  <div class="col-1 border">{{item.price}}</div>
  <div class="col-1 border">{{item.bestseller}}</div>
  </div>
  <span *ngIf="nextPageNumber > 1" >
    <button class="btn-primary m-1" (click)="previous(-1)">Previous</button>
    </span>
    <span *ngIf="nextPageNumber < numberOfPages">
    <button class="btn-primary m-1" (click)="next(1)">Next</button>
    </span>
</div>
</div>








<!--<div class="row">
  <div class="col-2 p-3">
    <h6>Options</h6>
    <h6>BestSeller</h6>
    <div *ngFor="let item of bestSellerOptions.options" >
      <div *ngIf="item.totalNum" >
      <input
      type="checkbox"
      id="{{ item.name }}"
      value="item.selected"
      [(ngModel)]="item.isSelected"

      (change)='emitChange()'
      />{{ item.refineValue }}({{item.totalNum}})
    </div>
      </div>
      <h6>Language</h6>
    <div *ngFor="let item of languageOptions.options" >
      <div *ngIf="item.totalNum" >
      <input
      type="checkbox"
      id="{{ item.name }}"
      value="item.selected"
      [(ngModel)]="item.isSelected"
      (change)='emitChange()'
      />{{ item.refineValue }}({{item.totalNum}})
      </div>
      </div>
  </div>
  <div class="col-10">
    <h6>{{fromPage}} to {{toPage}} from {{totalItemCount}} </h6>
  <div class="row text-center">
  <div class="col-3 bg-primary border">Title</div>
  <div class="col-3 bg-primary border">Author</div>
  <div class="col-2 bg-primary border">Language</div>
  <div class="col-2 bg-primary border">Genre</div>
  <div class="col-1 bg-primary border">Price</div>
  <div class="col-1 bg-primary border">BestSeller</div>
  </div>
  <div class="row text-center" *ngFor="let item of data" >
    <div class="col-3 border own-class">{{item.name}}</div>
    <div class="col-3 border own-class">{{item.author}}</div>
    <div class="col-2 border">{{item.language}}</div>
    <div class="col-2 border">{{item.genre}}</div>
    <div class="col-1 border">{{item.price}}</div>
    <div class="col-1 border">{{item.bestseller}}</div>
    </div>
    <span *ngIf="nextPageNumber > 1" >
      <button class="btn-primary m-1" (click)="previous(-1)">Previous</button>
      </span>
      <span *ngIf="nextPageNumber < numberOfPages">
      <button class="btn-primary m-1" (click)="next(1)">Next</button>
      </span>
  </div>
  </div>-->
