<!--<div class="container text-center">
{{abook.name}}<br>
{{abook.author}}<br>
<button (click)="issue()">Issue</button>
</div>-->


<!--<div class="container bg-warning text-center">
  <img src="{{abook.image}}" style="width:100px;height:150px;" ><br>
  <h5>{{abook.name}}</h5>
  {{abook.author}}
<span *ngIf= "isvalid else elseBlock">
  <span>
  {{abook.description.substring(0,100)}}<br>
  <button class="btn-primary m-1" (click)="readmore(val)" >Read More</button>
</span>
</span>
<ng-template #elseBlock>
  {{abook.description}}<br>
  <button class="btn-primary m-1" (click)="readless(val)">Read Less</button>
</ng-template>
  <button class="btn-primary m-1" (click)="issue()">Issue</button>
</div>-->


<!--<div class="container">
<p>
  contact works!
</p>
</div>-->



<!--<div class="container">
  <h6>extra class : ReactJS@9PM on Special Topics in React by Phil James
    <button class="btn btn-success m-1" (click)="newCreate()">Create</button>
  </h6>
<h4>Create Extra Class</h4>
<label>Course</label>
<select class="form-control" [(ngModel)]='name'>
  <option >Angular</option>
  <option >React JS</option>
  <option >Javascript</option>
</select>
<label>Time</label>
<input type="text" class="form-control" [(ngModel)]='time'>
<label>Faculty</label>
<input type="text" class="form-control" [(ngModel)]='faculty'>
<button class="btn btn-primary" (click)="create()">Create</button>
</div>-->


<!--<div class="container">

<label>Course Name : </label>
<input type="text" class="form-control" [(ngModel)]='newCourse'>
<button class="btn btn-primary my-2" (click)="submit()">Submit</button>


<div>

</div>
</div>-->

<!--<h4 class="text-center">TVs</h4>
<div class="row bg-dark text-white text-center" >
  <div class="col-3">Brand</div>
  <div class="col-3">Model</div>
  <div class="col-3">Price</div>
    </div>
    <div class="row border text-center" *ngFor="let item of tvArray;index as i" >
      <div class="col-3 ">{{item.name}}</div>
      <div class="col-3">{{item.model}}</div>
      <div class="col-3">{{item.price}}</div>
      <div class="col-3"><button class="btn-primary" (click)="add(i)">Add</button></div>
    </div>-->


    <!--<div *ngFor="let item1 of detail" >
      <h4>{{item1.name}}</h4>
      <div *ngFor="let item2 of detail1" >
        <h5>Date of Birth : {{item2.DOb}}</h5>
      <h6>Sport : {{item1.sport}}</h6>
      <h6>Country : {{item1.country}} </h6>
      <h6>{{item2.Info}}</h6>
      </div>

      </div>-->


      <div *ngFor="let item1 of detail" >
        <h4>{{item1.name}}</h4>
        <div *ngFor="let item2 of detail1" >
          <h5>Date of Birth : {{item2.DOb}}</h5>
        <h6>Sport : {{item1.sport}}</h6>
        <h6>Country : {{item1.country}} </h6>
        <h6>{{item2.Info}}</h6>
        </div>
        <h6 class="text-primary" (click)='cricketStars()'>Cricket Stars</h6>
