<div class="container">
<label>Name:</label>
<input type="text" class="form-control" [(ngModel)]="cname"><br>
<label>Email address:</label>
<input type="text" class="form-control" [(ngModel)]="cemail"><br>
<button class="btn btn-primary" (click)="submitForm()" >Submit</button>
</div>
