<div class="container-fluid">
  <div class="row">
  <div class="col-3">
  <app-employee-options
  [departmentsCB]="departmentStructure"
  [designationRadio]="designationStructure"
  (optSel) ="optChange()"
  ></app-employee-options>
  </div>
  
  <div class="col-6">
    <h5 class="text-center">Welcome to Employee Portal</h5>
    <h6>You have choosen</h6>
  Location : {{ location }} <br/>
  Department : {{ dpt }} <br/>
  Designation : {{ dsg }} <br/>
  <p>The number of employees matching the options : {{tempArray.length}} </p>
  <div class="row">
<div class="col-6 border bg-light" *ngFor="let item of printArray" >
<h6>{{item.name}}</h6>
{{item.email}}<br/>
Mobile :  {{item.mobile}}<br/>
Location : {{item.location}}<br/>
Department : {{item.department}}<br/>
Designation : {{item.designation}}<br/>
Salary : {{item.salary}}<br/>
</div>
</div>

  <div class="row">
  <div class="col-6 text-left">
  <button *ngIf="firstEmp > 0" class="btn btn-primary" (click)="previous()" >Previous</button>
  </div>
  <div class="col-6 text-right">
    <button *ngIf="firstEmp < maxPage" class="btn btn-primary" (click)="next()" >Next</button>
    </div>
  </div>
  </div>
  </div>
  </div>
