<div *ngIf="Property1" >
<h4>Question Number : {{questionno}}</h4>
<h5>{{question.text}}</h5>
<ol type = "A" >
<li *ngFor="let q1 of question.options; index as i " (click)="answerOption(i)" >{{q1}}</li>

</ol>
<div>Your Answer : {{question.stdAnswer}} </div>
<div *ngIf="quesProp" >
  <div *ngIf="question.stdAnswer === question.answer ; else elseBlock" class="text-success">
  Correct Answer
  </div>
  <ng-template #elseBlock >
    <div class="text-danger">
  Incorrect. The correct answer is {{question.answer}}
</div>
  </ng-template>
  </div>
</div>
  <div *ngIf="quesProp" >
    <h4>Question Number : {{questionno}}</h4>
    <h5>{{question.text}}</h5>
    <ol type = "A" >
    <li *ngFor="let q1 of question.options; index as i "  >{{q1}}</li>

    </ol>
    <div>Your Answer : {{question.stdAnswer}} </div>

      <div *ngIf="question.stdAnswer === question.answer ; else elseBlock" class="text-success">
      Correct Answer
      </div>
      <ng-template #elseBlock >
        <div class="text-danger">
      Incorrect. The correct answer is {{question.answer}}
    </div>
      </ng-template>

  </div>
