


/*.own-row{
  margin-left: 350px;
}
.text-success{
  background-color: green;
}

.container{
  text-align: center;
  margin: auto;
}
.data{
  margin-left: 200px;
}
.own-color{
  background-color: yellow;
}*/

/*.own-cls{
  margin-top : 60px;
}*/




/*NG-A3#6F*/
/*.own-cls1{

  text-align: center;
  width: 200px;
  margin: 6px;
  background-color: rgb(66, 239, 252);
}
.divcls{
  margin-left: 120px;
}

.container1{
  width:75%;
}
.divcls1{
  margin-left: 250px;
}*/



/*NG-A3#6D task 1.3 code*/
/*.colorcls{
  background-color: pink;
  width: 100px;
}
.container{
  width: 600px;
}
.navbar{
  height: 40px;
}
.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}*/

/*.row{
  padding-left: 50px;
}*/

/*.container{
  width: 500px;
}*/


/*AS-N1#8*/
/*.container{
  width: 200px;
}*/

/*
.container{
  width: 500px;
}

.div1{
  float: left;
}
.div2{
  float: right;
}
.div3{
  padding-top: 80px;
}
*/


/*
.container{
  width: 400px;
  text-align: center;
}
.div1{
  text-align: left;
}*/

/*.div1{
  width: 150px;
  float: left;
}
.div2{
  width: 300px;
float: right;
}
.container{
  width: 500px;
  text-align: center;
}*/

/*.container{
  width: 800px;
}
h4
{
  text-align: center;
}
.div1{
  float: left;
  padding-top: 10px;
}
.div2{
  float: right;
}

.div3{
  margin-top: 65px;
}*/


/*.container{
  width: 800px;
}
*/


/*.container{
  width: 600px;
  text-align: center;
}
.div1{
  width: 250px;
  margin-left: 80px;
}*/

/*.dot{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}*/

/*assignment 3*/
/*.dot{
  height: 25px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
.dot1{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.buttons{
  margin-top: 50px;
  margin-left: 50px;
}

.container-fluid{
  font-weight: bold;
}*/


select{
  border: none;
}
.div2{
  margin-top: 0%;
  float: right;
}
.div3{
  padding-top: 50px;
}
small{
  font-weight: bold;
}
h6{
  padding-top: 30px;
}
small{
  padding-top: 0%;
}


/*.container-fluid{
  width: 600px;
}*/


/*.btn1{
  margin-top: 100px;
}

.line{
  border-bottom: 1px solid grey;
}
.col-3{
text-align: left;
}

.col-6{
  text-align: left;
  }*/

