
<!--<div class="container ">
  <h3>Welcome to the Quiz Contest</h3>
  <h5>Participants</h5>
  <div class="row data"  >
  <div class=" col-2 m-2 own-color " id="id{{i}}" *ngFor="let item of participants;index as i">
    <div >
    Name : {{item.name}}<br>
    Score : {{item.score}}<br>
    <button (click)="buzzer(i)">BUZZER</button>
  </div>
  </div>
  </div>
  <div *ngIf="Property ; else elseBlock " >
  <h4 >Question Number : {{questionNumber + 1}} </h4>
  <h5>{{tempQuestion}}</h5>
  <div ng-class="condition?'class1':'class2'"></div>
    <div class="row own-row" >
      <div  *ngFor="let ops of tempOptions;index as j">
    <button class="btn btn-primary m-2" (click)="selectedAnswer(j)" >{{ops}}</button>
  </div>
  </div>
  </div>
  <ng-template #elseBlock>
  <h5>Game Over</h5>
  <h5>{{finalResult()}}</h5>
  </ng-template>
  </div>-->



  <!--<div class="container" >
    <div *ngFor="let item of picArray;index as i"  >
  <app-pic-viewer [pic]=item   (favPic)="newChange()" ></app-pic-viewer>
  </div>
  <div>
    <button class="btn btn-primary btn-lg" style="float:left;"   (click)="previousPhoto()" >Previous</button>
    <button class="btn btn-primary btn-lg" style="float:right;"  (click)="nextPhoto()">Next</button>
  </div>

  <div class="container own-cls">
    <div *ngIf="Property" >
      <h4>My Favourites</h4>
      <div class="row" >
        <div *ngFor="let item1 of favouriteArray">
      <app-favourites [picfav]=item1 (deletedPic) = "removePic($event)" ></app-favourites>
      </div>

    </div>
    </div>
  </div>-->



<!--NG-A3#6D task 1.3 code-->
    <!--<div class="container">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <span class="navbar-brand">Library</span>
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        <a class="nav-link" href="#">Total Books
          <span class="dot bg-primary text-center">{{noOfBooks}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Issued Books
            <span class="dot bg-success text-center">{{noOfIssuedBooks}}</span>
          </a>
          </li>
            </ul>
        </nav>
    <h4 class="text-center">Books in a Library</h4>
  <div class="row" *ngIf="condition" >
    <div class="colorcls col-5 m-2" *ngFor="let item of books ; index as i" >
    <app-book [abook]=item [val]=i (issuedBook)="enterBook($event)" ></app-book>
  </div>
  </div>
  <div>
    <h5>Issued Books</h5>
    <div *ngIf="Property ; else elseblock" >
   <div *ngFor="let item1 of newArray ; index as j" >
     <li class="m-1">{{item1.name}}
        <button class="btn-primary btn-sm" (click)="return(j)" >Return</button></li>

   </div>
    </div>
    <ng-template #elseblock>
  No books to show

    </ng-template>
  </div>
  </div>-->



  <!--NG-A3#6E-->

 <!--<div class="container">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <span class="navbar-brand">Shopping Cart</span>
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link text-white" href="#">Cart {{noOfItems}}</a>
    </li>
        </ul>
    </nav>

    <h3 class="text-center">Exciting deals on Mobiles</h3>
    <div class="row text-center">
      <div class="col-3 bg-success m-2" *ngFor="let item of mobiles;index as i" >
      <app-mobile [amobile]=item  (selMob)="add($event)" ></app-mobile>
    </div>
    </div>
    <div>
      <h5>Cart</h5>
      <div *ngIf="Property ; else elseblock" >
     <div *ngFor="let item1 of selMobiles ; index as j" >
       <li class="m-1">{{item1.name}} Quantity: {{item1.quantity}}
          <button class="btn-warning btn-sm" (click)="remove(j)" >Remove from Cart</button></li>
       </div>
       <div class="my-4">
       Num of item in cart : {{noOfItems}}<br>
       Total Card Amount: {{totalAmount}}
      </div>
      </div>
      <ng-template #elseblock>
    Cart is empty

      </ng-template>
    </div>
  <div>-->



    <!--<div class="container">
     <h6>Products in Store</h6>
     <div class="row">
     <div class="col-3" *ngFor="let item of products>
     <app-product [prod]=item ></app-product>
    </div>
    </div>
  </div>-->


  <!--NG-A3#6F-->
  <!--<div class="container text-center">
    <button class="btn btn-primary m-1" (click)="orderByQuantity()" >Order by Quantity</button>
    <button class="btn btn-primary m-1" (click)="orderByPrice()" >Order by Price</button>
    <button class="btn btn-primary m-1" (click)="viewData()" >View: {{tableType}} </button>
    <h6 class="text-center">Products in Store</h6>
    <div  *ngIf="Property else elseBlock"  class="divcls">
    <div class="row mx-5">
      <div class="own-cls1" *ngFor="let item of products">
          <app-product [prod]=item [condition]=Property (changedvalue)="updateData($event)" ></app-product>
      </div>
    </div>

  </div>

  <ng-template #elseBlock class="container1 text-center">
    <div class="divcls1">
      <div class="row bg-dark text-white">
        <div class="col-4">Name</div>
        <div class="col-2">Code</div>
        <div class="col-2">Price</div>
        <div class="col-2">Qunatity</div>
        <div class="col-2"></div>
      </div>
    </div>
    <div class="divcls1" *ngFor="let item of products">
      <app-product [prod]=item (changedvalue)="updateData($event)" ></app-product>
    </div>
  </ng-template>

  </div>-->


  <!--NG-A3#6G-->
  <!--<div class="container">
    <app-cart-nav-bar [noOfMobilesInCart]=noOfItems ></app-cart-nav-bar>

      <h3 class="text-center">Exciting deals on Mobiles</h3>
      <div class="row text-center">
        <div class="col-3 bg-success m-2" *ngFor="let item of mobiles;index as i" >
        <app-mobile [amobile]=item  (selMob)="add($event)" ></app-mobile>
      </div>
      </div>
      <div>
        <h5>Cart</h5>
        <div *ngIf="Property ; else elseblock" >
       <div *ngFor="let item1 of selMobiles ; index as j" >
         <li class="m-1">{{item1.name}} Quantity: {{item1.quantity}}
            <button class="btn-warning btn-sm" (click)="remove(j)" >Remove from Cart</button></li>
         </div>
         <div class="my-4">
         Num of item in cart : {{noOfItems}}<br>
         Total Card Amount: {{totalAmount}}
        </div>
        </div>
        <ng-template #elseblock>
      Cart is empty

        </ng-template>
      </div>
    <div>-->



      <!--NG-A3#6H
<div class="container">
<button class="btn btn-primary mx-5" (click)="addForm()" >Add Students</button>
<button class="btn btn-primary mx-5" (click)="studentList()" >List of Students</button>

<div *ngIf="Property" >
<app-form (newData)="enterData($event)" ></app-form>
</div>
<div *ngIf="condition">
  <div class="row">
<div class="col-3 border">Name</div>
<div class="col-3 border">Email</div>
  </div>
  <div *ngFor="let item of UpdatedStudents.students" >
<app-student-list [std]=item ></app-student-list>
</div>
</div>
</div>-->


<!--NG-A4#2 task 1 output
<div class="container">
<div class="row m-1">
  <div class="col">
<input type="checkbox" [(ngModel)]="working" >
<label>Are you working</label>
  </div>
</div>
<div class="row m-1">
  <div class="col-6">
<input type="radio" value='Male' [(ngModel)]='gender' >
<label>Male</label>
  </div>
  <div class="col-6">
    <input type="radio" value='Female' [(ngModel)]='gender' >
    <label>Female</label>
      </div>
</div>
<hr>
working : {{working}}<br>
Gender : {{gender}}
</div>-->





<!--NG-A4#2 task 2.2
<div class="container">
  <h4>Provide details below</h4>
  <div class="row m-1">
    <div class="col">
  <input type="radio" value="working" name="abc" [(ngModel)]="working" >
  <label>working</label>
    </div>
  </div>
  <div class="row m-1">
    <div class="col">
  <input type="radio" value="studying" name="abc" [(ngModel)]="working" >
  <label>studying</label>
    </div>
  </div>
  <div *ngIf="working==='working'" >
    <h4>Provide Job details</h4>
    <div>
      <label>Company name:</label>
    <input type="text" class="form-control"><br>
    <label>Designation:</label>
    <input type="text" class="form-control">
    </div>
  </div>
  <div *ngIf="working==='studying'" >
    <h4>Provide course details</h4>
    <div>
      <label>College name:</label>
    <input type="text" class="form-control"><br>
    <label>Course:</label>
    <input type="text" class="form-control">
    </div>
  </div>
  </div>-->



<!--AS-N1#8-->
<!--<div class="container">
 <h4 id="h4"> Move : {{sign}}</h4>
<div class="row">
  <div *ngFor="let item of array; index as i"  >
<app-cell [cellno]=item [index]=i (enterValue)="changedvalue($event)" ></app-cell>
  </div>
</div>
<button class="btn btn-primary my-2" id="btn" (click)="reset()" >Reset Game</button>
</div>-->


<!--NG-A4#3 task 2.2
<div class="container">
  <div class="div1">
<label>Year of Joining : </label>
<select class="form-control" [(ngModel)]="joiningcourse">
  <option value='0'>Choose the course...</option>
<option>2015</option>
<option>2016</option>
<option>2017</option>
<option>2018</option>
<option>2019</option>
</select>
</div>

<div class="div2">
  <label>Year of Leaving : </label>
  <select class="form-control" [(ngModel)]="leavingcourse">
    <option value='0'>Choose the year...</option>
  <option>2015</option>
  <option>2016</option>
  <option>2017</option>
  <option>2018</option>
  <option>2019</option>
  </select>
  </div>
<hr>
<div class="div3">
Year of joining : {{joiningcourse}}<br>
Year of leaving : {{leavingcourse}}<br>
Number of years : {{ leavingcourse - joiningcourse}}
</div>
</div>-->


<!--NG-A4#4 task 1-->
<!--<div class="container">
<label>Course : </label>
<select class="form-control" [(ngModel)]="course">
  <option value="">Choose the course...</option>
  <option *ngFor="let item of courses" > {{item}} </option>
</select>
<hr>
Selected Course : {{course}}
</div>-->

<!--NG-A4#4 task 2.2-->
<!--<div class="container">
  <h4>Configure the dropdown</h4>
<h6>Starting Year:</h6>
<input type="text" class="form-control" [(ngModel)]="startingYear" placeholder="0" >
<h6>Number of Years:</h6>
<input type="text" class="form-control" [(ngModel)]="noOfYear" placeholder="0" >
<button class="btn btn-primary" (click)="configure()" >Configure</button>
<h6>Select the Year : </h6>
<select class="form-control" [(ngModel)]="year">
  <option value="">Choose the course...</option>
  <option *ngFor="let item of array" > {{item}} </option>
</select>
<div class="my-4">
Year of joining : {{year}}
</div>
</div>-->


<!--NG-A4#5 task 1
<div class="container">
<label>Course :</label>
<select class="form-control" [(ngModel)]="selCourse" >
  <option value=null>Choose the course...</option>
  <option *ngFor="let item of myCourses" [ngValue]="item" > {{item.name}} </option>
</select>
<hr>
<p *ngIf="selCourse" >
Id : {{selCourse.id}}<br>
Name : {{selCourse.name}}<br>
Desc : {{selCourse.desc}}<br>
</p>
</div>-->


<!--NG-A4#5 task 2.2-->
<!--<div class="container">
  <label>Course :</label>
  <select class="form-control" [(ngModel)]="selCourse" >
    <option value=null>Choose the student id...</option>
    <option *ngFor="let item of myStudents" [ngValue]="item" > {{item.id}} </option>
  </select>
  <hr>
  <p *ngIf="selCourse" >
  Id : {{selCourse.id}}<br>
  Name : {{selCourse.name}}<br>
  City : {{selCourse.city}}<br>
  Course : {{selCourse.course}}
  </p>
  </div>-->

<!--NG-A4#5 task 3-->
  <!--<div class="container">
<h6>Country : </h6>
<select class="form-control" [(ngModel)]="selCountry" >
  <option value=null>Select the Country</option>
  <option *ngFor="let item of citiesArray" [ngValue]="item.cities" > {{item.name}} </option>
</select>

<h6>City : </h6>
<select class="form-control" [(ngModel)]="selCity">
  <option value=null>Select the City</option>
  <option *ngFor="let item1 of selCountry" [ngValue]="item1" > {{item1}} </option>
</select>
  </div>-->


<!--NG-A5#1 task 1-->
  <!--<div class="container">
<input type="text"
(keyup) = "event('keyup')"
(change)= "event('change')"
(focus)= "event('focus')"
(focusout)= "event('focusout')"
(mouseenter)= "event('mouseenter')"
>
  </div>-->


  <!--NG-A5#1 task 2.1-->
  <!--<div class="container">
    <h6>Name</h6>
    <input type="text" placeholder="Minimum 8 characters" [(ngModel)]= "str"
    (focusout) = "event()"
    (focus) = "focus()">
   <div *ngIf="Property" class="my-3">
    <h6>Length = {{len}}</h6>
   </div>
</div>-->


<!--NG-A5#1 task 2.2-->
<!--<div class="container">
  <h6>Name</h6>
  <input type="text" placeholder="Minimum 8 characters" [(ngModel)]= "str"
  (focusout) = "event()"
  (focus) = "focus()">
 <div *ngIf="Property" class="my-3 text-danger">
  <h6>{{message}}</h6>
 </div>
</div>-->


<!--NG-A5#2 task 1-->
<!--<div class="container">
<label>Course : </label>
<select class="form-control" [(ngModel)]= "course"
(mouseenter)= "event('dp mouseenter')"
(focus)= "event('dp focus')"
(change)="event('dp change')">
<option *ngFor="let c1 of courses" >{{c1}}</option>
</select>
</div>-->

<!--NG-A5#2 task 2-->
<!--<div class="container">
<div class="row m-1">
  <div class="col">
<input type="checkbox" [(ngModel)]="working"
(change)="event('cb change')"
(mouseenter)="event('cb mouseenter')"
(focus)="event('cb focus')">
<label>Checkbox</label>
  </div>
</div>
<div class="row m-1">
  <div class="col-6">
<input type="radio" value='OPtion1' [(ngModel)]='options'
(change)="event('rd1 change1')"
(mouseenter)="event('rd1 mouseenter')"
(focus)="event('rd1 focus')">
<label>OPtion 1</label>
  </div>
  <div class="col-6">
    <input type="radio" value='Option2' [(ngModel)]='options'
    (change)="event('rd2 change2')"
    (mouseenter)="event('rd2 mouseenter')"
    (focus)="event('rd2 focus')">
    <label>Option 2</label>
      </div>
</div>
</div>-->


<!--NG-A5#3 -->
<!--<div class="container">
  <h5>Login</h5>
  <div class="div1">
<h6>Enter Id/Username</h6>
<input type="text" class="form-control" placeholder="Enter your active Email id/ username"
[(ngModel)]='username'
(focus)="focus1()"
(focusout)="focusout1()" >
<div *ngIf="condition1" class="text-danger">
  {{msg1}}
  </div>
<h6>Password</h6>
<input type="password" class="form-control" placeholder="Enter the password"
[(ngModel)]='pswd'
(focus)="focus2()"
(focusout)="focusout2()">
<div *ngIf="condition2" class="text-danger">
  {{msg2}}
  </div>
<a href="#">Forgot Password</a>
</div>
<button class="btn btn-primary">Login</button><br>
<small>Not a Member as yet?</small>
<a href="#">Register Now</a>
</div>-->



<!--NG-A5#4 task 1 -->
<!--<div class="container">
Enter Course: <input type="text" [(ngModel)]='course'
(keyup)="focus1(course)">
<h6 class="mx-5 m-2">Courses : </h6>
<div class="mx-5 m-2" *ngFor="let item of selcourse" >
{{item}}
</div>
</div>-->


<!--NG-A5#4 task 2.2-->
<!--<div class="container">
  {{fn()}}
  <h4>Edufect Students</h4>
<div class="div1">
  <select class="form-control" [(ngModel)]= "course"
  (change)= "event(course)">
  <option value="" disabled>Course</option>
  <option >All</option>
  <option *ngFor="let c1 of courses" >{{c1}}</option>
  </select>
</div>
<div class="div2">
<div class="row bg-dark text-white">
  <div class="col-6">Name</div>
  <div class="col-6">Course</div>
</div>
<div class="row border" *ngFor="let item of selcourse">
  <div class="col-6">{{item.name}}</div>
  <div class="col-6">{{item.course}}</div>
</div>
</div>
</div>-->


<!--NG-A6#1 task 1.3 -->
<!--<div class="container-fluid">
<div class="row">
<div class="col-3 border bg-light">
<app-choosenames [namesCB]="namesStructure" (optSel)="optChange($event)"></app-choosenames>
</div>
<div class="col-9 border">
Hello!! <br/>
Names selected : {{idSelected}}
</div>
</div>
</div>-->




































<!--Angular Set AS-N1#9B code-->
<!--<div class="container">
<div *ngIf="condition" >
<h4 class="text-center">Choose the Assignment</h4>
<div class="row bg-dark text-white text-center py-2">
<div class="col-3">Subject</div>
<div class="col-3">Assignment</div>
<div class="col-3">Performance</div>
</div>
<div class="row border py-2" *ngFor="let item of newData;index as i" >
  <div class="col-3 text-center">{{item.subject}}</div>
  <div class="col-3 text-center">{{item.name}}</div>
   <div *ngIf="item.checkBtn ; else elseBlock" class="col-3 text-center">
    <div >{{count}}/{{item.questions.length}}</div>
  </div>
  <ng-template #elseBlock>
    <div class="col-3 text-center">Not Done</div>
  </ng-template>
  <div class="col-1"><button class="btn btn-primary" (click)="do(i)">Do</button></div>
  <div *ngIf="item.checkBtn" class="col-2">
    <button class="btn btn-primary" (click)="check(i)">Check</button></div>
  </div>
  </div>

<div *ngIf="Property">
  <h4 class="text-center">{{name}} : Assignment {{assignment}}</h4>

<div class="div1">
<h6>Time: 5 mins</h6>
</div >
<div class="div2">
  <small>Maximum Score: {{questions.length}}</small><br/>
  <button *ngIf="Condition1"  class="btn btn-primary" (click)="viewMarkSheet()" >View Mark Sheet</button>
  </div>
  <div *ngIf="Condition2">
  <div class="div3" >
  <app-question [question]=question [questionno]=quesno
  [checkIndex]="checkIndex" (answer)="editAnswer($event)"
  [checkAns]="checkAns"></app-question>
</div>

<span *ngIf="Property1" >
<button class="btn btn-primary m-2" (click)="previous()" >Previous Question</button>
</span>
<span *ngIf="Property2" >
  <button class="btn btn-primary m-2" (click)="next()" >Next Question</button>
  </span>
</div>
  <div *ngIf="Property3" >
<app-mark-sheet [showMarkSheet]="questions"
[checkIndex] = "checkIndex"
 (changeAnswer)="changeAnswer($event)"
(submitAss)="submitAss()"></app-mark-sheet>
  </div>
</div>
</div>-->


<!--<div class="container">
  <div *ngIf="condition" >
  <h4>Choose the Assignment</h4>
  <div class="row bg-dark text-white text-center py-2">
  <div class="col-3">Subject</div>
  <div class="col-3">Assignment</div>
  <div class="col-3">Performance</div>
  </div>
  <div class="row border py-2" *ngFor="let item of newData;index as i" >
    <div class="col-3 text-center">{{item.subject}}</div>
    <div class="col-3 text-center">{{item.name}}</div>
    <div class="col-3 text-center">Not Done</div>
    <div><button class="btn btn-primary" (click)="do(i)">Do</button></div>
    </div>
  </div>

  <div *ngIf="Property">
    <h4></h4>

  <div class="div1">
  <small>Time: 5 mins</small>
  </div >
  <div class="div2">
    <small>Maximum Score: 15</small><br/>
    <button *ngIf="Condition1"  class="btn btn-primary" (click)="viewMarkSheet()" >View Mark Sheet</button>
    </div>
    <div *ngIf="Condition2">
    <div class="div3" *ngFor="let item of question">
    <app-question [question]=item [questionno]=quesno (answer)="editAnswer($event)" ></app-question>
  </div>

  <span *ngIf="Property1" >
  <button class="btn btn-primary m-2" (click)="previous()" >Previous Question</button>
  </span>
  <span *ngIf="Property2" >
    <button class="btn btn-primary m-2" (click)="next()" >Next Question</button>
    </span>
  </div>
    <div *ngIf="Property3" >
  <app-mark-sheet [showMarkSheet]="questions" ></app-mark-sheet>
    </div>
  </div>
  </div>-->


<!--NG-A6#1 task 2.2 code
<div class="container-fluid">
  <div class="row">
  <div class="col-3 border bg-light">
  <app-choosenames [namesCB]="namesStructure" (optSel)="optChange($event)"></app-choosenames>
  </div>
  <div class="col-9 border">
  Selected Products : {{namesSelected}}
  <div class="row" *ngFor="let item of newfilteredNames" >
<div class="col-2 bg-light"> {{item.name}} </div>
<div class="col-2 bg-light"> {{item.category}} </div>
<div class="col-2 bg-light"> {{item.id}} </div>
<div class="col-2 bg-light"> {{item.stock}} </div>
  </div>
  </div>
  </div>

  </div>-->


  <!--NG-A6#1 task 3 code-->
  <!--<div class="container">
    <div class="row">
    <div class="col-3 border bg-light">
    <app-choosenames [namesCB]="namesStructure" (optSel)="optChange($event)"></app-choosenames>
    </div>
    <div class="col-9 border">
    <h4>Edufect Students</h4>
    <div *ngIf="Property" >
      <div class="row" >
        <div class="col-3 bg-dark text-white"> Name </div>
        <div class="col-3 bg-dark text-white"> Course </div>
          </div>
    <div class="row" *ngFor="let item of newfilteredNames" >
  <div class="col-3 bg-light"> {{item.name}} </div>
  <div class="col-3 bg-light"> {{item.course}} </div>
    </div>
    </div>
    </div>
  </div>
    </div>-->


<!--NG-A6#2 task 1.3-->
    <!--<div class="container">
<div class="row">
<div class="col-3 border bg-light">
<app-choosenames [namesRadio]="namesRadioStructure" (optSel)="optChange($event)" >
  </app-choosenames>
</div>
<div class="col-9 border">Hello!!<br/>
Name selected : {{ nameRadioSelected }}
</div>
</div>
    </div>-->



    <!--NG-A6#2 task 2.2 -->
    <!--<div class="container">
      <div class="row">
      <div class="col-3 border bg-light">
      <app-choosenames [namesRadio]="namesRadioStructure" (optSel)="optChange($event)" >
        </app-choosenames>
      </div>
      <div class="col-9 border">
        Selected Products :
         <div class="row" *ngFor="let item of filteredNames" >
            <div class="col-3 bg-light"> {{item.name}} </div>
            <div class="col-3 bg-light"> {{item.category}} </div>
            <div class="col-2 bg-light"> {{item.id}} </div>
            <div class="col-2 bg-light"> {{item.stock}} </div>
        </div>
      </div>
      </div>
      </div>-->




<!--<div class="container-fluid">
  <div class="row">
  <div class="col-3 border bg-light">
  <app-choosenames [namesCB]="namesStructure"
  [namesRadio]="namesRadioStructure"
  (optSel1)="optChange1($event)" (optSel2)="optChange1($event)"></app-choosenames>

  </div>
  <div class="col-9 border">
  Selected Products : {{namesSelected}}<br/>
  Stock Status : {{ nameRadioSelected }}
  <div class="row" *ngFor="let item of newfilteredNames" >
<div class="col-2 bg-light"> {{item.name}} </div>
<div class="col-2 bg-light"> {{item.category}} </div>
<div class="col-2 bg-light"> {{item.id}} </div>
<div class="col-2 bg-light"> {{item.stock}} </div>
  </div>


  </div>
  </div>

  </div>-->


<!--NG-B1#2A task 1 code-->
  <!--<button class="btn-primary" (click)="getData()">Get Data</button>
  <div>
    {{strData}}
  </div>-->


<!--NG-B1#2A task 2 code-->
  <!--<div class="container">
<select [(ngModel)] ='selValue' class="form-control">
  <option>Names</option>
  <option>Numbers</option>
  <option>Course</option>
  <option>All Courses</option>
</select><br/>
<button class="btn-primary" (click)="getData()">Get Data</button>
  <div>
    {{strData}}
  </div>
  </div>-->


<!--NG-B1#2B task 1-->
  <!--<button class="btn-primary" (click)="getNames()">Get Names</button>
<div>
  string data : {{strData}}
</div>
<br>
Showing Names
<div *ngFor="let n1 of data" >{{n1}}</div>-->


<!--NG-B1#2B task 4-->
<!--<button class="btn-primary" (click)="getCourse()">List of Courses</button>
<div>
  string data : {{strData}}
</div>
<br>
Showing Names
<div class="my-1" *ngFor="let n1 of data" >
<div>{{n1.course}}</div>
<div>{{n1.desc}}</div>
<div>{{n1.lesson}}</div>
</div>-->


<!--NG-B1#3 task 1 output-->
<!--<button class="btn-primary" (click)="postData()">Get Data</button>
  <div>
    {{strData}}
  </div>-->


<!--NG-B1#3 task 3-->
<!--<div class="container">
<label>Product Id</label>
<input type="text" [(ngModel)]="name1" class="form-control"><br/>
<label>Brand</label>
<input type="text" [(ngModel)]="brand1" class="form-control"><br/>
<label>Quantity</label>
<input type="text" [(ngModel)]="qty1" class="form-control"><br/>
<button class="btn-primary" (click)="postData()">Post</button>
<div>
  {{strData}}
</div>
  </div>-->



<!--<div class="container">
<h4 class="text-center">Students Data</h4>
<div class="div1 ">
  <select [(ngModel)] ='name' class="form-control" (change)="getData()">
    <option value="">Choose the class...</option>
    <option>VII-A</option>
    <option>VII-B</option>
    <option>VII-C</option>
  </select><br/>
</div>
<div class="row bg-dark text-white">
<div class="col-3">Name</div>
<div class="col-2">Class</div>
<div class="col-2">Maths</div>
<div class="col-2">Science</div>
<div class="col-2">English</div>
</div>
<div class="row " *ngFor="let item of data" >
  <div class="col-3 border">{{item.name}}</div>
  <div class="col-2 border">{{item.class}}</div>
  <div class="col-2 border">{{item.Maths}}</div>
  <div class="col-2 border">{{item.Science}}</div>
  <div class="col-3 border">{{item.English}}</div>
  </div>
  </div>-->


<!--NG-B1#5 task 1 code-->
  <!--<div class="container">
<button class="btn btn-success mx-3" (click)="fetch()" >Fetch</button>
<button class="btn btn-danger mx-3" (click)="fetchErr()" >Fetch</button>
<div class="bg-primary my-1" *ngFor="let item of names" >
{{item}}
</div>
<div class="bg-danger my-2">
  {{error}}
</div>
  </div>-->



  <!--<div class="container">
    <button class="btn btn-danger mx-3" (click)="fetch1()" >Fetch1</button>
    <button class="btn btn-danger mx-3" (click)="fetch2()" >Fetch2</button>
    <button class="btn btn-danger mx-3" (click)="fetch3()" >Fetch3</button>
    <button class="btn btn-danger mx-3" (click)="fetch4()" >Fetch4</button>
    <div class="bg-primary my-1" *ngFor="let item of names" >
    {{item}}
    </div>
    <div class="bg-danger my-2">
      {{error}}
    </div>
      </div>-->


<!--<button routerLink="/hello" routerLinkActive="active">Hello</button>
<button routerLink="/bye" routerLinkActive="active">Bye</button>
<button routerLink="/" routerLinkActive="active">Home</button>
<router-outlet></router-outlet>-->


<!--<button routerLink="/angular" routerLinkActive="active">Angular</button>
<button routerLink="/android" routerLinkActive="active">Android</button>
<button routerLink="/java" routerLinkActive="active">Java</button>
<router-outlet></router-outlet>-->



<!--<nav class="navbar navbar-expand bg-primary navbar-dark">
  <a class="navbar-brand" routerLink="/">EDUFECT</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/angular" routerLinkActive="active">Angular</a>
      </li>
      <li class="nav-item">
<a class="nav-link" routerLink="/android" routerLinkActive="active">Android</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/java" routerLinkActive="active">Java</a>
      </li>

    </ul>

  </div>

  </nav>
  <router-outlet></router-outlet>-->



<!--<div class="container">
  <nav class="navbar navbar-expand bg-primary navbar-dark">
    <a class="navbar-brand" routerLink="/">EDUFECT</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/courses" routerLinkActive="active">Courses</a>
        </li>
       <li class="nav-item">
  <a class="nav-link" routerLink="/students" routerLinkActive="active">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>

      </ul>

    </div>

    </nav>
  </div>
    <router-outlet></router-outlet>-->






    <!--<nav class="navbar navbar-expand bg-primary navbar-dark">
      <a class="navbar-brand" routerLink="/">EDUFECT</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/angular" routerLinkActive="active">Angular</a>
          </li>
          <li class="nav-item">
    <a class="nav-link" routerLink="/android" routerLinkActive="active">Android</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/java" routerLinkActive="active">Java</a>
          </li>

        </ul>

      </div>

      </nav>
      <router-outlet></router-outlet>-->


      <!--<nav class="navbar navbar-expand bg-primary navbar-dark">
        <a class="navbar-brand" routerLink="/">EDUFECT</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
      <a class="nav-link" routerLink="/hello" routerLinkActive="active">Hello</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/bye" routerLinkActive="active">Bye</a>
            </li>

          </ul>

        </div>

        </nav>
        <router-outlet></router-outlet>-->

        <!--NG-C2#8 task 2 output-->
        <!--<nav class="navbar navbar-expand bg-primary navbar-dark">
          <a class="navbar-brand" routerLink="/">EduSystem</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/courses" routerLinkActive="active">Courses</a>
              </li>
              <li class="nav-item">
        <a class="nav-link" routerLink="/extra" routerLinkActive="active">Extra Class</a>
              </li>
             </ul>

          </div>

          </nav>
          <router-outlet></router-outlet>-->


        <!--NG-C2#7 task 2 code-->
      <!--<nav class="navbar navbar-expand bg-primary navbar-dark">
        <a class="navbar-brand" routerLink="/">EDUFECT</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/courses" routerLinkActive="active">Courses</a>
            </li>
           <li class="nav-item">
      <a class="nav-link" routerLink="/extraclass" routerLinkActive="active">Extra Class </a>
            </li>
          </ul>

        </div>

        </nav>

        <router-outlet></router-outlet>-->



        <!--<div class="container-fluid">
          <nav class="navbar navbar-expand bg-dark text-white navbar-dark">
            <a class="navbar-brand" routerLink="/">Matches</a>
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/team/TeamABC" routerLinkActive="active">Team ABC</a>
                </li>
               <li class="nav-item">
          <a class="nav-link" routerLink="/team/TeamPQR" routerLinkActive="active">Team PQR </a>
                </li>
              </ul>

            </div>

            </nav>
          </div>
        <router-outlet></router-outlet>-->


        <!--<div class="container-fluid">
          <nav class="navbar navbar-expand bg-dark text-white navbar-dark">
            <a class="navbar-brand" routerLink="/">JobSys</a>
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
            <a class="nav-link" routerLink="/team/React" routerLinkActive="active">React</a>
                </li>
               <li class="nav-item">
          <a class="nav-link" routerLink="/team/Angular" routerLinkActive="active">Angular</a>
                </li>
                <li class="nav-item">
           <a class="nav-link" routerLink="/team/Android" routerLinkActive="active">Android</a>
                </li>
              </ul>

            </div>

            </nav>
          </div>
        <router-outlet></router-outlet>-->



        <!--<div class="container-fluid">
          <nav class="navbar navbar-expand bg-dark text-white navbar-dark">
            <a class="navbar-brand" routerLink="/team/AllBrands">JobSys</a>
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/team/AllBrands" routerLinkActive="active">All Brands</a>
                      </li>
                <li class="nav-item">
            <a class="nav-link" routerLink="/team/Xiaomi" routerLinkActive="active">Xiaomi</a>
                </li>
               <li class="nav-item">
          <a class="nav-link" routerLink="/team/Samsung" routerLinkActive="active">Samsung</a>
                </li>
                <li class="nav-item">
           <a class="nav-link" routerLink="/team/Realme" routerLinkActive="active">Realme</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/team/Oppo" routerLinkActive="active">Oppo</a>
                 </li>
              </ul>

            </div>

            </nav>
          </div>
        <router-outlet></router-outlet>-->


<!--Assignment 2 -->
          <!--<nav class="navbar navbar-expand bg-dark text-white navbar-dark">
            <a class="navbar-brand">Football Tournament</a>
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#" >Number of Matches
                  <span class="dot bg-primary ">{{matches.length}}</span>
                </a>
                </li>
               </ul>
              </div>
              </nav>
<div *ngIf="Property" >
<button class="btn btn-primary m-2 mx-3" (click)="allMatches()">All Matches</button>
<button class="btn btn-primary m-2 mx-3" (click)="pointsTable()">Points Table</button>
<button class="btn btn-primary m-2 mx-3" (click)="newMatch()">New Match</button>
</div>
<div *ngIf="Property1" >
<app-all-matches [matches]=matches ></app-all-matches>
</div>
<div *ngIf="Property2" >
  <app-points-table [pointsTable]=arrayTeam1></app-points-table>
  </div>
  <div *ngIf="Property3" >
    <app-new-match [allteams]=teams (changeProperties)="changeProperties()"
    (changedData)="changedData($event)"  ></app-new-match>
    </div>-->




    <!--<nav class="navbar navbar-expand bg-warning navbar-dark">

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <select [(ngModel)]='studentOption' (change)="studentDetails()" >
              <option value="" disabled>Students</option>
              <option >Student List</option>
              <option>Add Student</option>
            </select>
           </li>
          <li class="nav-item">
            <select [(ngModel)]='courseOption' (change)="courseDetails()">
              <option value="" disabled>Courses</option>
              <option >Course List</option>
              <option>Add Course</option>
            </select>
           </li>


         </ul>
        </div>
        </nav>
        <router-outlet></router-outlet>-->




        <!--<nav class="navbar navbar-expand bg-primary navbar-dark">
          <a class="navbar-brand" routerLink="/">EDUFECT</a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
              </li>
             <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/logout" routerLinkActive="active">Logout</a>
              </li>
            </ul>

          </div>

          </nav>

          <router-outlet></router-outlet>-->



          <!--<nav class="navbar navbar-expand bg-primary navbar-dark">
            <a class="navbar-brand" routerLink="/home">Home</a>
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto">
               <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Mobile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/logout" routerLinkActive="active">Laptop</a>
                </li>
                 <li class="nav-item">
                  <a class="nav-link" routerLink="/book" routerLinkActive="active">TV</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/hello" routerLinkActive="active">Cart</a>
                </li>
              </ul>

            </div>

            </nav>

            <router-outlet></router-outlet>-->



            <!--<nav class="navbar navbar-expand bg-primary navbar-dark">
              <a class="navbar-brand" routerLink="/">EDUFECT</a>
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item" *ngFor="let l1 of navlinks" >
                    <a class="nav-link" routerLink={{l1.link}}
                     routerLinkActive={{l1.active}}>{{l1.txt}}</a>
                  </li>

                </ul>

              </div>

              </nav>

              <router-outlet></router-outlet>-->



              <!--<nav class="navbar navbar-expand bg-primary navbar-dark">
                <a class="navbar-brand" routerLink="/">EDUFECT</a>
                <div class="collapse navbar-collapse">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item" *ngFor="let l1 of navlinks" >
                      <a class="nav-link" routerLink={{l1.link}}
                       routerLinkActive={{l1.active}}>{{l1.txt}}</a>
                    </li>

                  </ul>

                </div>

                </nav>

                <router-outlet></router-outlet>-->



                <!--<nav class="navbar navbar-expand bg-primary navbar-dark">
                  <a class="navbar-brand" routerLink="/home">HOME</a>
                  <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item" *ngFor="let l1 of navlinks" >
                        <a class="nav-link" routerLink={{l1.link}}
                         routerLinkActive={{l1.active}}>{{l1.txt}}{{}}</a>
                      </li>

                    </ul>

                  </div>

                  </nav>

                  <router-outlet></router-outlet>-->





                  <!--<nav class="navbar navbar-expand bg-dark navbar-dark">
                    <a class="navbar-brand" routerLink="/">Sports Stars</a>
                    <div class="collapse navbar-collapse">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">All</a>
                         </li>

                      </ul>

                    </div>

                    </nav>

                    <router-outlet></router-outlet>-->




                    <!--<nav class="navbar navbar-expand bg-dark navbar-dark">
                      <a class="navbar-brand" routerLink="/">Sports Stars</a>
                      <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">All</a>
                           </li>
                  <li class="nav-item">
               <a class="nav-link" routerLink="/hello" routerLinkActive="active">Cricket</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/bye" routerLinkActive="active">Football</a>
             </li>

                        </ul>

                      </div>

                      </nav>
<router-outlet></router-outlet>-->



<!--Assignment 3-->
<!--<div class="container-fluid">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <span class="navbar-brand">ProdStoreSys</span>
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" href="#">Products
      <span class="dot dot1 bg-secondary text-white text-center">{{products.length}}</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Quantity
        <span class="dot bg-secondary text-white text-center"> {{quantity}} </span>
        </a>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Value
        <span class="dot bg-secondary text-white text-center">{{value}}</span>
      </a>
      </li>
        </ul>
    </nav>
    <div *ngIf="Property1" >
<div class="row">
    <div class="col-3 border text-center bg-light" *ngFor="let item of products;index as i" >
<h5>Code : {{item.code}}</h5>
Brand : {{item.brand}}<br/>
Category : {{item.category}}<br/>
Price : {{item.price}}<br/>
Quantity : {{item.quantity}}<br/>
<div *ngIf="item.specialOffer else elseBlock1">
  Special Offers : Yes<br/>
</div>
<ng-template #elseBlock1>
  Special Offers : No<br/>
</ng-template>
<div *ngIf="item.limitedStock else elseBlock2">
  Limited Stocks : Yes<br/>
</div>
<ng-template #elseBlock2>
  Limited Stocks : No<br/>
</ng-template>
<button class="btn btn-warning" (click)="edit(i)">Edit Details</button>
    </div>
</div>
<div class="buttons">
<button class="btn btn-primary m-1" (click)="addNewProduct()">Add New Product</button>
<button class="btn btn-primary m-1" (click)="receiveStocks()">Receive Stocks</button>
</div>
</div>
<div *ngIf="Property2" >
<app-add-new-product (updatedData)='updatedData($event)' (updatedData1)='updatedData1()'>

</app-add-new-product>
</div>

<div *ngIf="Property3" >
  <app-receive-stock [products]='products' (updatedData2)="updatedData1()"></app-receive-stock>
</div>

<div *ngIf="Property4" >
  <app-edit-product [products]='products' [editableData]='editableData'
  (updatedData3)="updatedData1()"></app-edit-product>
</div>
</div>-->





<!--<div class="container">
  <div *ngIf="Property1" >
<button class="btn btn-primary m-2" (click)="addQuestion()">Add Question</button>
<button class="btn btn-primary m-2" (click)="questionBank()">Question Bank</button>
</div>

<div *ngIf="Property2">
  <button class="btn btn-primary m-1" (click)="home()">Home</button><br/>
  <app-question-form [questions]='questions' [editable]='editable'
  (updatedData)="updatedData($event)" (updatedData1)="updatedData1()"></app-question-form>
</div>
<div *ngIf="Property3">
  <button class="btn btn-primary m-1" (click)="home()">Home</button><br/>
  <h5>Question Bank</h5>
  {{text}}
<div *ngFor="let item of questions;index as i" >
Q{{i+1}}.{{item.question}}
<button class="btn btn-warning mx-1" (click)="edit(i)">Edit</button>
<button class="btn btn-warning mx-1" (click)="deleteData(i)">Delete</button>

  <ul>
<li> A.{{item.optionA}}</li>
<li> B.{{item.optionB}}</li>
<li> C.{{item.optionC}}</li>
<li> D.{{item.optionD}}</li>
<li>Answer.{{item.correctOption}}</li>
</ul>
 </div>
</div>
</div>-->




<!--<div class="container">
  <div *ngIf="Property1" >
<button class="btn btn-primary m-2" (click)="questionBank()">Question Bank</button>
<button class="btn btn-primary m-2" (click)="createQuestionPaper()">Create Question Paper</button>
<button class="btn btn-primary m-2" (click)="viewQuestionPapers()">View Question Papers</button>
</div>

<div *ngIf="Property3">
  <button class="btn btn-primary m-1" (click)="home()">Home</button><br/>
  <h5>Question Bank</h5>
<div *ngFor="let item of questions;index as i" >
Q{{i+1}}.{{item.qnText}}
<ul>
<li> A. {{item.A}}</li>
<li> B. {{item.B}}</li>
<li> C. {{item.C}}</li>
<li> D. {{item.D}}</li>
<li>Answer.{{item.ans}}</li>
</ul>
 </div>
</div>

<div *ngIf="Property2">
  <button class="btn btn-primary m-1" (click)="home()">Home</button><br/>
  <app-question-form [questions]='questions' (updatedData)="updatedData($event)"></app-question-form>
</div>

<div *ngIf="Property4">
  <button class="btn btn-primary m-1" (click)="home()">Home</button><br/>
  <select class="form-control" (change)='selpaper()' [(ngModel)]='selName'>
    <option value="">Choose Paper</option>
<option *ngFor="let item of questionPapers;index as i">{{item.name}}</option>
  </select>
</div>

<div *ngIf="Property5">
  <h4>Question Paper</h4>
  <h5>Name : {{name}}</h5>
<ul>
  <li *ngFor="let item of selPaper;index as i">
    Q {{i+1}}. {{item.qnText}}
  </li>
</ul>
</div>
</div>-->




<!--<div class="container">
  <div class="row" *ngFor="let item of arr;index as j" >
    <div class="p-2 mx-2 my-1 bg-warning" *ngFor="let t1 of item;index as i"
    (click)="doubleValue(j+''+i)">
{{t1}}
    </div>
</div>

<button class="btn btn-primary m-1" (click)="add(+1)">+1</button>
<button class="btn btn-primary m-1" (click)="add(-1)">-1</button>
<button class="btn btn-primary m-1" (click)="insert22()">Insert 22 at End</button>
<button class="btn btn-primary m-1" (click)="insert0()">Insert 0 at Start</button>
<button class="btn btn-primary m-1" (click)="remove4OrLess()">Remove 4 or less</button>
<div>
  <h4>Stats for each row</h4>
  <div class="row" *ngFor="let item of newArr">
Sum : {{item.sum}}, Count : {{item.count}}, Max : {{item.max}}, Min : {{item.min}}
  </div>
</div>
</div>-->




<!--<nav class="navbar navbar-expand bg-dark navbar-dark">
                      <a class="navbar-brand" routerLink="/">Sports Stars</a>
                      <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                          <li class="nav-item">
            <a class="nav-link" routerLink="/stars" routerLinkActive="active">All</a>
                           </li>
                  <li class="nav-item">
               <a class="nav-link" routerLink="/stars/Cricket" routerLinkActive="active">Cricket</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/stars/Football" routerLinkActive="active">Football</a>
             </li>
 </ul>
    </div>
         </nav>
<router-outlet></router-outlet>-->



<!--<nav class="navbar navbar-expand bg-dark navbar-dark" >
  <a class="navbar-brand" routerLink="/" >BookSite</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
<a class="nav-link"  routerLinkActive="active"
routerLink="/books"  [queryParams]="{newarrival: 'Yes', page: 1}" >New Arrivals</a>
       </li>
<li class="nav-item">
<select  [(ngModel)]="binding" class="nav-link bg-dark text-white"
routerLink="/books/{{binding}}" routerLinkActive="active" [queryParams]="{page: 1}">
<option value="" selected>Books by Genre</option>
<option *ngFor="let item of genre" >{{item}}</option>
</select>
</li>
<li class="nav-item">
<a class="nav-link" routerLink="/books" routerLinkActive="active"
[queryParams]="{page: 1}">All Books</a>
</li>
</ul>
</div>
  <a class="nav-link text-white" routerLink="/" routerLinkActive="active">Login</a>
</nav>
<router-outlet></router-outlet>-->




<nav class="navbar navbar-expand bg-dark navbar-dark" >
  <a class="navbar-brand" routerLink="/books" >BookSite</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
<a class="nav-link"  routerLinkActive="active"
routerLink="/books"  [queryParams]="{newarrival: 'Yes'}" >New Arrivals</a>
       </li>
<li class="nav-item">
<select  [(ngModel)]="binding" class="nav-link bg-dark text-white"
routerLink="/books/{{binding}}" routerLinkActive="active">
<option value="" selected>Books by Genre</option>
<option *ngFor="let item of genre" >{{item}}</option>
</select>
</li>
<li class="nav-item">
<a class="nav-link" routerLink="/books" routerLinkActive="active">All Books</a>
</li>
</ul>
</div>
  <a class="nav-link text-white" routerLink="/" routerLinkActive="active">Login</a>
</nav>
<router-outlet></router-outlet>










<!--<div class="container-fluid">
  <button class="btn btn-primary m-1" (click)='mainView()'>Main View</button>
  <button class="btn btn-primary m-1" (click)='searchMember()'>Search Member</button>
  <button class="btn btn-primary m-1" (click)='memberView()'>Member View</button>

 <div *ngIf="Property1">
  <div class="row">
    <div class="col-4">
   <select [(ngModel)]='teams' class="form-control">
     <option value="" disabled>Choose Team</option>
<option *ngFor="let item of teamArray" > {{item}} </option>
   </select>
   </div>
   <div class="col-4">
   <select [(ngModel)]='members' class="form-control">
    <option value="" disabled>Choose Member</option>
<option *ngFor="let item of newMembersArray" > {{item}} </option>
  </select>
  </div>
  <div class="col-4">
  <button class="btn btn-primary m-1" (click)='addMember()'>Add Member to Team</button><br/>
</div>
</div>
<div class="row bg-dark text-white">
  <div class="col-6">Team</div>
  <div class="col-6">Member</div>
</div>
<div class="row border" *ngFor="let item of selTeams" >
  <div class="col-6">{{item}}</div>
  <div class="row " >
    <div *ngFor="let item1 of teamsAndMembers" >
    <div *ngIf="item === item1.team" >
     <div class="bg-warning px-2 m-1">{{item1.member}}</div>
  </div>
</div>
</div>
</div>
</div>

<div *ngIf="Property2" >
  <div class="row bg-dark text-white">
    Search for Member
  </div>
  <div class="row">
    <div class="col-6">
    <select  class="form-control" [(ngModel)]='selMember' (change)='change()'>
      <option value="" disabled>Choose Member</option>
  <option *ngFor="let item of membersArray" > {{item}} </option>
    </select>
  </div>
  <div class="col-6">
Team : {{selTeam}}
  </div>
  </div>
</div>

<div *ngIf="Property3">
  <div class="row bg-dark text-white">
    <div class="col-6">Member</div>
    <div class="col-6">Team</div>
  </div>
  <div class="row border" *ngFor="let item of teamsAndMembers" >
    <div class="col-6">{{item.member}}</div>
    <div class="col-6">{{item.team}}</div>
  </div>

</div>

</div>-->





<!--<div class="container-fluid">
  <nav class="navbar navbar-expand bg-dark text-white navbar-dark">
    <a class="navbar-brand" routerLink="/">MyMessages</a>
    </nav>

<div class="row bg-light">
  <div class="col-2 px-5">
    <button class="btn btn1 btn-primary" (click)="compose()">Compose</button>
<div *ngFor="let item of typeArray;index as i" (click)='printMessages(i)' >
  <div *ngIf="item.type === printType else elseBlock1"  class="bg-warning">
   {{item.type}}({{item.numbers}})
  </div>
  <ng-template #elseBlock1>
    {{item.type}}({{item.numbers}})
  </ng-template>

</div>
  </div>
  <div class="col-10">
    <input type="text" class="form-control my-4" placeholder="Search" />
    <div *ngIf="Property2">

<div class="row py-2 line" *ngFor="let t1 of newArr" >
<div class="col-3 ">
  <div *ngIf="t1.from != 'jack@test.com' else elseBlock" >
{{t1.from}}
</div>
<ng-template #elseBlock>
  me
</ng-template>
</div>
<div class="col-3 ">
{{t1.subject}}
</div>
<div class="col-6 ">
  {{t1.text}}
  </div>
</div>
</div>
<div *ngIf="Property1">
  <label>To</label>
  <input type="text" class="form-control" [(ngModel)]='to' />
  <label>Subject</label>
  <input type="text" class="form-control" [(ngModel)]='subject' />
  <label>Message</label>
  <input type="text" class="form-control" [(ngModel)]='message' />
  <button class="btn btn-primary my-3" (click)='send()'>Send</button>
  </div>
  </div>


</div>

</div>-->



