<div class="container">
  <h5>Product Code</h5>
  <input type="text" class="form-control" [(ngModel)]='code'/>
  <h5>Price</h5>
  <input type="text" class="form-control" [(ngModel)]='price'/>
  <h5>Category</h5>
  <div class="row m-1">
    <div class="col-2">
  <input type="radio" value="Food" [(ngModel)]='category'>
  <label>Food</label>
    </div>
    <div class="col-2">
      <input type="radio" value="Personal Care" [(ngModel)]='category'>
      <label>Personal Care</label>
        </div>
        <div class="col-2">
          <input type="radio" value="Apparel" [(ngModel)]='category'>
          <label>Apparel</label>
            </div>
  
  </div>
  <select class="form-control" [(ngModel)]='brand'>
    <option value="">Select Brand</option>
    <option *ngFor="let item of brands" > {{item}} </option>
  </select>
  <h5>Choose other info about the product</h5>
  
    <input type="checkbox" [(ngModel)]="specialOffer">
   <label>Special Offer</label><br>
   <input type="checkbox" [(ngModel)]="limitedStock">
   <label>Limited Stock</label><br/>
   <button class="btn btn-primary" (click)='editProduct()'>Edit Product</button><br/>
   <button class="btn btn-primary my-3" (click)='goBackToHome()'>Go Back to Home Page</button>
  </div>
