<div class="text-center">
  <h5> {{comp.name}} </h5>
  <h4>{{comp.score}}</h4>
<button class="btn-primary m-1" (click)="add(1)">+</button>
<button class="btn-primary m-1" (click)="add(-1)">-</button>
</div>
