
<!--<div class="container">
<h6>Course name : {{course}}</h6>
Description : {{description}}<br/>
Use Case : {{useCase}}
</div>-->


<!--<h5>List of Extra Classes</h5>
<h6><a routerLink="/lectures/Angular"
  [queryParams]="{extra:'yes',time:'6 PM',faculty:'John Smith'}"
  routerLinkActive="true">Angular</a></h6>
<h6><a routerLink="/lectures/ReactJS" [queryParams]="{extra:'No',message:'No extra class.'}"
   routerLinkActive="true">ReactJS</a></h6>
<h6><a routerLink="/lectures/Javascript"
   [queryParams]="{extra:'yes',time:'6 PM',faculty:'John Smith',message:'Lesson 8A'}"
  routerLinkActive="true">Javascript</a></h6>-->

<!--<div class="container">
  <div *ngIf="condition" >
    <label>Name</label>
    <input type="text" class="form-control" [(ngModel)]='sname'>
    <label>Email</label>
    <input type="text" class="form-control" [(ngModel)]='semail'>
    <label>Courses</label>
    <select class="form-control" [(ngModel)]='selCourse'>
    <option *ngFor="let item of CourseList" >{{item}}</option>
  </select>
  <button class="btn btn-primary"(click)="submitName()">Submit</button>
  </div>
 <div *ngIf="Property" >
<div class="row bg-success">
<div class="col-6 border">S.No.</div>
<div class="col-6 border">Course Name</div>
</div>
<div class="row " *ngFor="let item of CourseList;index as i" >
  <div class="col-6 border">{{i+1}}.</div>
  <div class="col-6 border">{{item}}</div>
  </div>
  <div>



</div>-->


<!--<h4 class="text-center">Shopping Cart</h4>
  <div class="row bg-dark text-white text-center" >
<div class="col-3">Brand</div>
<div class="col-3">Model</div>
<div class="col-3">Price</div>
<div class="col-3">Qty</div>
  </div>
  <div class="row border text-center" *ngFor="let item of cartArray;index as i" >
    <div class="col-3 ">{{item.name}}</div>
    <div class="col-3">{{item.model}}</div>
    <div class="col-3">{{item.price}}</div>
    <div class="col-3">{{qty}}</div>
  </div>-->




  <div class="row bg-primary text-white text-center" >
    <div class="col-4 border">Name</div>
    <div class="col-4 border">Country</div>
    <div class="col-4 border">Sport</div>
      </div>
      <div class="row border text-center" *ngFor="let item of data;index as i" >
        <div class="col-4 border">{{item.name}}</div>
        <div class="col-4 border">{{item.country}}</div>
        <div class="col-4 border">{{item.sport}}</div>
      </div>





