
<!--Question:<br/>
<input type="text" class="form-control" [(ngModel)]='question'><br/>
Option A:<br/>
<input type="text" class="form-control" [(ngModel)]='optionA'><br/>
Option B:<br/>
<input type="text" class="form-control" [(ngModel)]='optionB'><br/>
Option C:<br/>
<input type="text" class="form-control" [(ngModel)]='optionC'><br/>
Option D:<br/>
<input type="text" class="form-control" [(ngModel)]='optionD'><br/>
Correct Option:<br/>
<input type="text" class="form-control" [(ngModel)]='correctOption'><br/>
<div *ngIf="Property1" >
<button class="btn btn-primary" (click)="submit()">Submit</button>
</div>
<div *ngIf="Property2" >
  <button class="btn btn-primary" (click)="edit()">Edit</button>
  </div>-->


  <h6>Name of Question Paper</h6>
  <input type="text" class="form-control" [(ngModel)]='name'><br/>
  <div *ngFor="let item of questions" >
<input type="checkbox"
value="item.selected"
[(ngModel)]="item.selected"
> {{item.id}}. {{item.qnText}}
  </div>
  <button class="btn btn-primary" (click)="submit()">Submit</button>
