<!--<div *ngFor="let item of namesCB" >
<input type="checkbox"
id="item.name"
value="item.selected"
[(ngModel)]="item.selected"
(change)="emitChange()"
/>{{ item.name }}
</div>-->


<!--<div *ngFor="let item of namesCB" >
  <input type="checkbox"
  id="item.name"
  value="item.selected"
  [(ngModel)]="item.selected"
  (change)="emitChange()"
  />{{ item.name }}
  </div>-->



  <!--<div *ngFor="let item of namesRadio.namesIds">
<input 
type="radio"
id="{{ item }}"
name="namesRadioGroup"
value="{{ item.id }}"
checked= "item.id === namesRadio.selected"
[(ngModel)]="namesRadio.selected"
(change)= "emitChange()"
/>{{ item.name }}
  </div>-->


  <!--<div *ngFor="let item of namesRadio.names">
    <input 
    type="radio"
    id="{{ item }}"
    name="namesRadioGroup"
    value="{{ item }}"
    checked= "item === namesRadio.selected"
    [(ngModel)]="namesRadio.selected"
    (change)= "emitChange()"
    />{{ item}}
      </div>-->

<h6>Category</h6>
      <div *ngFor="let item of namesCB" >
        <input type="checkbox"
        id="item.name"
        value="item.selected"
        [(ngModel)]="item.selected"
        (change)="emitChange1()"
        />{{ item.name }}
        </div>
        <h6>Stock Status</h6>
        <div *ngFor="let item of namesRadio.names">
          <input 
          type="radio"
          id="{{ item }}"
          name="namesRadioGroup"
          value="{{ item }}"
          checked= "item === namesRadio.selected"
          [(ngModel)]="namesRadio.selected"
          (change)="emitChange2()"
          />{{ item}}
            </div>