<div *ngIf="condition else elsecond" >
{{prod.name}}<br>
Code:{{prod.code}}<br>
Price:{{prod.price}}<br>
Quantity:{{prod.quantity}}<br>
<button class="m-1" (click)="increase(1)" >Increase</button>
<span *ngIf="Property else elseblock" >
<button class="m-1" (click)="decrease(-1)" >Deccrease</button>
</span>
<ng-template #elseblock>
  <button class="m-1" (click)="decrease(-1)" disabled >Decrease</button>
</ng-template>
</div>
<ng-template #elsecond>
  <div class="divcls1">
    <div class="row bg-light m-1">
      <div class="col-4">{{prod.name}}</div>
      <div class="col-2">{{prod.code}}</div>
      <div class="col-2">{{prod.price}}</div>
      <div class="col-2">{{prod.quantity}}</div>
      <div class="col-2">
       
        <button class="bg-success mx-1" (click)="increase(1)" >+</button>
        <span *ngIf="Property else elseblock1" >
        <button class="bg-danger mx-1" (click)="decrease(-1)" >-</button>
      </span>
      <ng-template #elseblock1>
        <button class="bg-danger mx-1 " disabled (click)="decrease(-1)" >-</button>
      </ng-template>
      </div>
    </div>
  </div>
</ng-template>
