<div class="container border bg-light">
  <h5>{{social.heading}}</h5>
  <h6>Shared by : {{social.postedBy}}</h6>
{{social.txt}}<br>
Likes : {{social.numOfLikes}}
<button class="btn btn-primary" (click)="addLikes(1)" >Likes</button>
Shared : {{social.numOfShares}}
<button class="btn btn-primary" (click)="addShare(1)" >Share</button>
</div>
