<div>
  <div class="row bg-light">
   <div class="col-2">
    <img class="img-fluid" src={{song.image}} />
  </div>
  <div class="col-6 text-left text-truncate ">
    {{song.name}}
    <div class="own-class">
      {{song.artist}}
    </div>
    </div>
  <div class="col-1">+</div>
  <div class="col-1">&#x22ee;</div>

  </div>
</div>
