<h5>Designation</h5>
<div *ngFor="let item of designationRadio.sports">
<input
type="radio"
id="{{ item }}"
name="radio001"
value="{{ item }}"
checked="item === statusRadio.selected"
[(ngModel)]="designationRadio.selected"
(change)="emitChange()"
/>{{ item }}
</div>

<h5>Department</h5>
<div *ngFor="let item of departmentsCB" >
  <input
  type="checkbox"
  id="{{ item.name }}"
  value="item.selected"
  [(ngModel)]="item.selected"
  (change)="emitChange()"
  />{{ item.name }}
  </div>



