<div *ngIf="Property1" >
<div class="row">
<div  *ngFor="let a1 of showMarkSheet; index as j" (click)="editAnswer(j)">
  <div *ngIf="a1.stdAnswer !='Not Answered'; else elseBlock "  class="btn bg-secondary p-2 m-2">
{{j+1}}.{{a1.stdAnswer}}
</div>
<ng-template #elseBlock >
  <div  class="btn bg-warning p-2 m-2">
    {{j+1}}.
  </div>

  </ng-template>

</div>
</div>
<div class="text-center">
<button class="btn btn-secondary text-center" (click)="submitAssignment()">Submit the Assignment</button>
</div>
</div>
<div *ngIf="Property2" >
  <div class="row">
  <div  *ngFor="let a1 of showMarkSheet; index as j" (click)="editAnswer(j)">
    <div *ngIf="a1.stdAnswer !='Not Answered' && a1.stdAnswer === a1.answer"  class="btn bg-success p-2 m-2">
  {{j+1}}.{{a1.stdAnswer}}
  </div>

    <div *ngIf="a1.stdAnswer ==='Not Answered'" class="btn bg-warning p-2 m-2">
      {{j+1}}.
</div>


    <div *ngIf="a1.stdAnswer !='Not Answered' && a1.stdAnswer != a1.answer; else elseBlock "
     class="btn bg-danger p-2 m-2">
      {{j+1}}.{{a1.stdAnswer}}
      </div>

  </div>
  </div>
  <div class="text-center">
  <button class="btn btn-secondary " (click)="submitAssignment()">go to List of Assignments</button>
  </div>
</div>
