<div class="container">
  
  <div>
   <h6>Welcome Student</h6>
     <input type="text" class="form-control" #childtxt >
     <button (click)="addToFaculty(childtxt.value)" >Send to Faculty</button>
    </div>
    

  </div>

