<!--<div>
  Welcome to the TV Section<br>
  You have visited {{visitedPages}} pages on this site
  <div *ngFor="let item of newArray" >
    {{ item }}
    </div>
  </div>-->

  <h4 class="text-center">Laptops</h4>
  <div class="row bg-dark text-white text-center" >
    <div class="col-3">Brand</div>
    <div class="col-3">Model</div>
    <div class="col-3">Price</div>
      </div>
      <div class="row border text-center" *ngFor="let item of laptopArray;index as i" >
        <div class="col-3 ">{{item.name}}</div>
        <div class="col-3">{{item.model}}</div>
        <div class="col-3">{{item.price}}</div>
        <div class="col-3"><button class="btn-primary" (click)="add(i)">Add</button></div>
      </div>



<!--<div class="text-center">
      <h4 class="text-center">Angular class has started</h4>
      <h4 class="text-center">Today's topic is Observable</h4>
      <button class="btn-danger" (click)="stop()">Stop</button>
    </div>-->
