/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

.own-class
{
  max-width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
white-space: nowrap;
}
/*.container{
  margin-left: 200px;
}*/