<h4>Select the product whose stocks have been received</h4>
<select class="form-control" [(ngModel)]='prod'>
  <option value="">Select Product Code</option>
  <option *ngFor="let item of products;index as i" >
    {{item.code}}
  </option>
</select>
<h5>Stocks Received</h5>
<input type="text" class="form-control" [(ngModel)]='qty'><br/>

<button class="btn btn-primary my-2" (click)="submit()">Submit</button><br/>
<button class="btn btn-primary my-4" (click)="goBackToHome()">Go back to Home Page</button>
