<!--<div class="container-fluid">
<div class="row">
<div class="col-3">
<app-teamoptions
[playersCB]="playersStructure"
[sportsRadio]="sportsStructure"
(optSel) ="optChange($event)"
></app-teamoptions>
</div>
<div class="col-6">
  Hello Team Details<br/>
Name : {{ team }} <br/>
Players : {{ players }} <br/>
Sports : {{ sport }} <br/>
Page : {{ page }}<br/>
<div class="row">
<div class="col-6 text-left">
<button *ngIf="currPage > 1" class="btn btn-primary" (click)="gotoPage(-1)" >Previous</button>
</div>
<div class="col-6 text-right">
  <button *ngIf="currPage < maxPage" class="btn btn-primary" (click)="gotoPage(1)" >Next</button>
  </div>
</div>
</div>
</div>
</div>-->


<!--<div class="container-fluid">
  <div class="row">
  <div class="col-3">
  <app-teamoptions
  [coursesCB]="coursesStructure"
  [statusRadio]="statusStructure"
  (optSel) ="optChange($event)"
  ></app-teamoptions>
  </div>
  <div class="col-6">
    Job Details<br/>
  Role : {{ team }} <br/>
  Courses Done : {{ courses }} <br/>
  Current Status : {{ status }} <br/>
  Page Number : {{ currPage }}<br/>

<div class="row border bg-light" *ngFor="let item of tempArray" >
<div class="col-2 ">{{ item.name }}</div>
<div class="col-2 ">{{ item.course }}</div>
<div class="col-2 ">{{ item.year }}</div>
<div class="col-2 ">{{ item.status }}</div>
<div class="col-2 ">{{ item.tech }}</div>
</div>

  <div class="row">
  <div class="col-6 text-left">
  <button *ngIf="currPage > 1" class="btn btn-primary" (click)="gotoPage(-1)" >Previous</button>
  </div>
  <div class="col-6 text-right">
    <button *ngIf="currPage < maxPage" class="btn btn-primary" (click)="gotoPage(1)" >Next</button>
    </div>
  </div>
  </div>
  </div>
  </div>-->




  <div class="container-fluid">
    <div class="row">
    <div class="col-3">
    <app-teamoptions
    [ramsCB]="ramsStructure"
    [romsCB]="romsStructure"
    [priceRadio]="priceStructure"
    (optSel) ="optChange($event)"
    ></app-teamoptions>
    </div>
    <div class="col-6">

  <div class="row border bg-light" *ngFor="let item of tempArray" >
  <div class="col-2 ">{{ item.name }}</div>
  <div class="col-2 ">{{ item.brand }}</div>
  <div class="col-2 ">{{ item.RAM }}</div>
  <div class="col-2 ">{{ item.ROM }}</div>
  <div class="col-2 ">{{ item.price }}</div>
  </div>


    </div>
    </div>
    </div>
