<!--<h5>Say Bye to</h5>
<h6><a routerLink="/bye/James" [queryParams]="{next:'25-july'}"
  routerLinkActive="true">James</a></h6>
<h6><a routerLink="/bye/Mary" [queryParams]="{next:'28-july',hw:'7A,7B'}"
   routerLinkActive="true">Mary</a></h6>
<h6><a routerLink="/bye/Bob" [queryParams]="{hw:'14A-15C'}"
  routerLinkActive="true">Bob</a></h6>
<h6><a routerLink="/bye/Martin" routerLinkActive="true">Martin</a></h6>-->


<!--<div class="container">
<h4 class="text-center">Welcome to EDUFECT</h4>
<div class="div1 border">
  <h6>List of Courses</h6>
  <h6><a routerLink="/courses/Angular" routerLinkActive="true">Angular</a></h6>
  <h6><a routerLink="/courses/Python" routerLinkActive="true">Python</a></h6>
  <h6><a routerLink="/courses/Java" routerLinkActive="true">Java</a></h6>
</div>
<div class="div2 border">
  <h6>List of Students</h6>
  <h6><a routerLink="/students/James" routerLinkActive="true">James</a></h6>
  <h6><a routerLink="/students/Edwards" routerLinkActive="true">Edwards</a></h6>
  <h6><a routerLink="/students/Margareet" routerLinkActive="true">Margareet</a></h6>
  <h6><a routerLink="/students/Katherine" routerLinkActive="true">Katherine</a></h6>
</div>
</div>-->



<!--Welcome to Home Page<br>
Login Status: {{ status }}<br>
User Name : {{ username }}-->

<!--<div>
Welcome to the Home Page<br>
You have visited {{visitedPages}} pages on this site<br>
Pages visited (in order):
<div *ngFor="let item of newArray" >
{{ item }}
</div>
</div>-->


<!--<h4 class="text-center">Shopping Cart</h4>
<div class="row bg-dark text-white text-center" >
  <div class="col-3">Brand</div>
  <div class="col-3">Model</div>
  <div class="col-3">Price</div>
    </div>-->




  <!--<div class="row bg-primary text-white text-center" >
<div class="col-4 border">Name</div>
<div class="col-4 border">Country</div>
<div class="col-4 border">Sport</div>
  </div>
  <div class="row border text-center" *ngFor="let item of data;index as i" >
    <div class="col-4 border text-primary"  (click)="details(i+1)">{{item.name}}</div>
    <div class="col-4 border">{{item.country}}</div>
    <div class="col-4 border">{{item.sport}}</div>
  </div>-->



  <div class="row bg-primary text-white text-center" >
    <div class="col-4 border">Name</div>
    <div class="col-4 border">Country</div>
    <div class="col-4 border">Sport</div>
      </div>
      <div class="row border text-center" *ngFor="let item of data;index as i" >

        <div class="col-4 border ">
          <a class="nav-link" routerLink="/details/{{item.id}}" routerLinkActive="active">{{item.name}}</a>
         </div>
        <div class="col-4 border">{{item.country}}</div>
        <div class="col-4 border">{{item.sport}}</div>
      </div>
