.div1{
  margin-left: 35px;
  text-align: center;
  width: 250px;
  height: 138px;
  float: left;
}
.div2{
  margin-right: 35px;
  text-align: center;
  width: 250px;
  float: right;
}
.container{
  width: 600px;
}
