
<h4 class="text-center">Points Table</h4>
<div class="row bg-dark text-white text-center">
  <div class="col-3" (click)="sortByName()">Team</div>
  <div class="col-1" (click)="sortByPlayed()">Played</div>
  <div class="col-1" (click)="sortByWon()">Won</div>
  <div class="col-1" (click)="sortByLost()">Lost</div>
  <div class="col-1" (click)="sortByDrawn()">Drawn</div>
  <div class="col-2" (click)="sortByGoalsFor()">Goals For</div>
  <div class="col-2" (click)="sortByGoalsAgainst()">Goals Against</div>
  <div class="col-1" (click)="sortByPoints()">Points</div>
    </div>
    <div class="row text-center border" *ngFor="let item of pointsTable" >
      <div class="col-3">{{item.name}}</div>
      <div class="col-1">{{item.played}}</div>
      <div class="col-1">{{item.won}}</div>
      <div class="col-1">{{item.lost}}</div>
      <div class="col-1">{{item.drawn}}</div>
      <div class="col-2">{{item.goalsFor}}</div>
      <div class="col-2">{{item.golasAgainst}}</div>
      <div class="col-1">{{item.points}}</div>
        </div>

